


	body{ 
		 background: lightblue;
		 border-color: solid;
		 padding: 10px;
		 margin: 5px;


		}
		h1{
			color: red;
			font-family: cursive; 
			font-family: courier;
			font-weight: 300px;
			text-align: center;
			text-decoration: underline;
			font-weight: bold;
			text-decoration: underline blue;
		}
		h2{
			font-style: italic;
			text-decoration: underline red;
			color: #ff1100;
		}

		p{
			text-transform: ;
			text-align: left;
			line-height: 1.2;
			font-size: 12pt

		}

		/*text-transform: capitalize?*/

			a{font-size: small;
			text-indent: 10px}
			
		/*valid color names acqua, black, blue, fuschia, gray, green, lime, maroon, navy, olive, orange, purple, red, silver, teal, white, yellow*/
#jerryList{
	color: green;
}
#para1{
	color :red;

}
#para2{
	color: yellow;
}
.simple{
	width: 500px;
	margin: 20px;
}
.fancy{
	width: 500px;
	margin: 10px auto;
	padding: 30px;
		border: solid blue 10px;
		-webkit-box-sizzing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
.static{
	position: static;
}

.relative1{
	position: relative;
	width: 400;
	height: 300;
}
.relative2{
	position: relative;
	top: -20px;
	left: 20px;
	background-color: white;
	width: 800px;
}
.absolute{
	position: absolute;
	top: 120px;
	right: 0px;
	width: 1000px;
	height: 200px;
}

/*{-webkit-box-sizzing: border-box;		-moz-box-sizing: border-box;		box-sizing: border-box;}*/

div{
	
	position: absolute;
	background: white;
	max-width: 
	width: 1500px; height:50px;
	
}
span{
	color:red;
	font-size: 24pt;
	font-family: courier;

}

#div1{
background-color: white;
}
#div2{
background-color: yellow;
}
#div3{
background-color: blue;
width: 450px;
height: 360px;
}
#div4{
background-color: green;
height: 120px;
}
.container{
	position: relative;
}

img{
	float: left;
	margin: 0 0 1em 1 em;
}

section{
	/* position is static by default  */
	margin-left: 200px;
}
nav{
	position: relative;
	top: : 200px;
	width: 200px;
}
footer{
	position: fixed;
	bottom: 0px;
	left: 0px;
	height: 70px;
	background-color: white;
	width: 100px;
}